<h2>Add new person</h2>
<div>
<form>
    <div class="form-group">
      <label for="usr">Email:</label>
      <input type="text" class="form-control" ng-model="newObj.Email">
    </div>
    <div class="form-group">
        <label for="usr">FirstName:</label>
        <input type="text" class="form-control" ng-model="newObj.FirstName">
    </div>
    <div class="form-group">
        <label for="usr">Gender:</label>
        <input type="text" class="form-control">
    </div>
    <div class="form-group">
        <label for="usr">Ip:</label>
        <input type="text" class="form-control" ng-model="newObj.Ip"s>
    </div>
    <div class="form-group">
        <label for="usr">LastName:</label>
        <input type="text" class="form-control" ng-model="newObj.LastName">
    </div>
    <div class="form-group">
        <label for="usr">Picture:</label>
        <input type="text" class="form-control" ng-model="newObj.Picture">
    </div>
    <button type="submit" class="btn btn-default" ng-click="add()">Submit</button>
</form>
</div>